.footer {
  background-color: $gray-secondary;
  color: $white;

  @include media-breakpoint-up(lg) {
    background-color: $gray-tertiary;
    color: $gray-primary;
  }

  .footer-inner {
    // nu am folosit container pe .footer-inner,
    // ca sa pot intinde cele 2 nuante de gri (in mobile version) pe tot footerul
    // si am centrat .footer-inner doar in desktop version
    // (am mers cu max-width-ul de la Bootstrap - 1320px, luat din Inspector,
    // fara paddingul lateral adaugat implicit de 24px)
    max-width: 1296px;
    margin: 0 auto;
    width: 100%;

    text-align: center;
    display: grid;
    grid-template-areas:
      'contact'
      'nav'
      'connect';

    @include media-breakpoint-up(lg) {
      grid-template-areas: 'contact nav connect';
      column-gap: 220px;
      text-align: start;
    }

    .footer-contact {
      grid-area: contact;
      line-height: 37px;
      text-transform: lowercase;

      span {
        display: block;
      }
    }

    .footer-nav {
      grid-area: nav;
      font-family: 'Roboto', sans-serif;

      @include media-breakpoint-up(lg) {
        background-color: $gray-tertiary;
        color: $gray-primary;
      }

      header {
        h1 {
          font-family: 'Playfair Display', serif;
          font-weight: 300;
          font-size: 22px;
        }
      }

      div {
        // am ales grid si nu flex, ca sa pot alinia border-right in mijloc
        // si sa ramana acolo responsive
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-transform: lowercase;

        @include media-breakpoint-up(lg) {
          font-family: 'Playfair Display', serif;

          ul:nth-child(1) {
            margin-left: 150px;
          }
        }

        ul {
          line-height: 37px;

          &:first-child {
            border-right: 2px solid $white;
          }
        }

        @include media-breakpoint-up(lg) {
          ul:first-child {
            border-right: none;
          }

          ul:nth-child(2) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
          }
        }
      }

      footer {
        display: flex;
        flex-direction: column;
        text-decoration: underline;
        text-transform: lowercase;
        font-style: italic;
        font-size: 14px;
        font-weight: 300;
      }
    }

    .footer-connect {
      grid-area: connect;
      background-color: $gray-tertiary;
      color: $gray-primary;
      font-family: 'Roboto', sans-serif;

      .footer-newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @include media-breakpoint-up(lg) {
          align-items: flex-start;

          form:nth-of-type(1) {
            label {
              font-family: 'Playfair Display', serif;
              font-size: 16px;
              text-transform: lowercase;
              line-height: 37px;
            }

            input {
              font-style: italic;
            }
          }
        }

        header {
          h1 {
            font-family: 'Playfair Display', serif;
            font-size: 22px;
          }
        }

        form:nth-of-type(1) {
          h2 {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;
          }

          input {
            border: 1px solid $gray-secondary;
            width: 270px;
            padding: 0 10px;
          }
        }

        form:nth-of-type(2) {
          display: inline-flex;
          width: 270px;
          gap: 2px;

          input {
            width: 14px;
            align-self: start;
            margin-right: 3px;
          }

          label {
            font-size: 12px;
            width: 270px;
            line-height: 14px;
            text-align: start;

            a {
              text-decoration: underline;
            }
          }
        }
      }

      .footer-social {
        h1 {
          font-family: 'Playfair Display', serif;
          font-size: 22px;
        }

        ul {
          display: flex;
          justify-content: center;
          gap: 20px;
          font-size: 30px;

          @include media-breakpoint-up(lg) {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}
