// fonts
@import './fonts';

// fontawesome
@import './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import './../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import './../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import './../node_modules/@fortawesome/fontawesome-free/scss/solid';

// bootstrap
@import './../node_modules/bootstrap/scss/bootstrap-reboot';
@import './../node_modules/bootstrap/scss/bootstrap-grid';
@import './../node_modules/bootstrap/scss/bootstrap-utilities';
@import './../node_modules/bootstrap/scss/bootstrap';

// reset
@import './reset';

// variables
@import './variables';

// common
@import './common/index';

body {
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  color: $gray-primary;
}

// am schimbat valorile de padding lateral, din containerul de bootstrap, pt a se potrivi design-ului
.container {
  padding: 0 42px;

  @include media-breakpoint-up(lg) {
    padding: 0;
  }
}

// homepage
@import './homepage/index';

// catalog
@import './catalog/index';
